.pagination {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.text1 {
  text-transform: capitalize;
  font-size: 14px;
  margin-right: 10px;
}

.text2 {
  font-size: 14px;
  margin-left: 10px;
}

.pagination select {
  width: 40px;
}
